.wrapper {
  margin: 0 auto;
  width: 1030px; }

.clearfix::after {
  display: table;
  content: "";
  clear: both; }

#scrollBtn {
  position: fixed;
  display: none;
  right: 165px;
  bottom: 100px;
  opacity: 0.4;
  cursor: pointer;
  font-size: 60px; }
  #scrollBtn:hover {
    opacity: 1; }
  #scrollBtn i::before {
    font-size: 40px; }

a {
  text-decoration: none; }

.err-msg {
  width: 200px;
  left: -220px;
  top: 0;
  position: absolute;
  background-color: white; }
  .err-msg label {
    padding: 5px;
    display: block;
    color: red;
    font: 20px Roboto-Light;
    text-align: left; }

textarea.error, input.error {
  background-color: #ff7d7d; }

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 130px;
  background-color: #4a454b; }
  header .logo {
    float: left;
    margin-top: 45px; }
  header #main-menu {
    float: right;
    margin-top: 70px; }
    header #main-menu ul {
      font-size: 0; }
      header #main-menu ul li {
        display: inline-block;
        margin-right: 45px; }
        header #main-menu ul li:last-child {
          margin-right: 0; }
        header #main-menu ul li a {
          display: block;
          color: #fff;
          font: 15px "roboto-thin"; }
          header #main-menu ul li a:active, header #main-menu ul li a:hover {
            color: #90d23d; }

main {
  padding-top: 130px; }
  main .time-box {
    position: relative;
    background-color: #4a454b; }
    main .time-box::after {
      position: absolute; }
    main .time-box .wrapper {
      position: relative;
      padding: 100px 0 400px;
      box-sizing: border-box; }
      main .time-box .wrapper #countdown {
        width: 970px;
        height: 200px;
        background-color: #4a454b;
        float: none;
        margin: 0 auto;
        padding: 25px 0;
        box-sizing: border-box;
        border: 2px solid #90d23d;
        border-radius: 20px; }
        main .time-box .wrapper #countdown .digits {
          padding-bottom: 10px;
          font-size: 0; }
          main .time-box .wrapper #countdown .digits #days,
          main .time-box .wrapper #countdown .digits #hours,
          main .time-box .wrapper #countdown .digits #min,
          main .time-box .wrapper #countdown .digits #sec {
            display: inline-block;
            width: 25%;
            height: 110px;
            color: #fff;
            font: 110px "roboto-slab-thin";
            text-align: center;
            vertical-align: middle; }
      main .time-box .wrapper .captions div {
        float: left;
        width: 25%;
        color: white;
        font: 25px "roboto-slab-regular";
        text-align: center; }
      main .time-box .wrapper .elapsed {
        color: white;
        font: 75px "roboto-light";
        vertical-align: middle;
        display: inline-block; }
      main .time-box .wrapper .icon {
        position: absolute;
        left: -82px;
        top: 376px; }
        main .time-box .wrapper .icon:first-child {
          z-index: 6; }
  main .description-short {
    position: relative;
    margin: 56px auto 142px;
    padding-right: 500px;
    box-sizing: border-box; }
    main .description-short h1 {
      margin-bottom: 25px;
      color: #242424;
      font: 50px "roboto-black"; }
    main .description-short > p {
      margin-bottom: 20px;
      color: #242424;
      font: 14px "roboto-light"; }
      main .description-short > p:last-child {
        margin-bottom: 140px; }
    main .description-short #regBox {
      position: absolute;
      top: -228px;
      right: 0;
      z-index: 10;
      width: 430px;
      height: auto;
      background-color: #fff;
      float: left;
      padding-bottom: 21px;
      border: solid 1px #dbdada;
      text-align: center; }
      main .description-short #regBox::after {
        display: block;
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #949293;
        float: left; }
      main .description-short #regBox h2 {
        margin: 34px 0 21px;
        color: #252525;
        font: 30px roboto-bold; }
      main .description-short #regBox input {
        color: #6c6c6c;
        width: 375px;
        height: 58px;
        font: 19px roboto-light;
        border-radius: 5px;
        border: solid 1px #bebebe;
        box-sizing: border-box;
        outline: none;
        margin-bottom: 20px;
        padding: 0 15px; }
        main .description-short #regBox input:last-child {
          margin-bottom: 40px; }
      main .description-short #regBox button {
        color: #fff;
        width: 371px;
        height: 58px;
        font: 22px roboto-bold;
        border-radius: 5px;
        border: solid 1px #bebebe;
        box-sizing: border-box;
        outline: none;
        border: none;
        outline: none;
        background-color: #90d23d;
        margin-bottom: 21px; }
        main .description-short #regBox button:hover {
          background-color: #4a454b; }
      main .description-short #regBox p {
        color: #6c6c6c;
        font: 15px roboto-light; }
  main .description .event-details {
    margin-bottom: 94px; }
    main .description .event-details .event-detail {
      width: 300px;
      height: auto;
      background-color: transparent;
      float: left;
      margin-right: 60px; }
      main .description .event-details .event-detail:last-child {
        margin-right: 0; }
      main .description .event-details .event-detail figure {
        height: 220px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center; }
      main .description .event-details .event-detail h3 {
        margin: 20px auto 10px;
        text-align: center;
        color: #242424;
        font: 35px roboto-black; }
      main .description .event-details .event-detail p {
        text-align: center;
        color: #242424;
        font: 14px roboto-light; }
  main .description .schedule {
    width: 100%;
    overflow: hidden; }
    main .description .schedule tr {
      height: 75px; }
      main .description .schedule tr td {
        vertical-align: middle;
        text-align: center; }
        main .description .schedule tr td:first-child {
          width: 200px; }
        main .description .schedule tr td:nth-child(2) {
          padding-left: 70px;
          box-sizing: border-box;
          text-align: left; }
        main .description .schedule tr td:last-child {
          width: 130px; }
    main .description .schedule thead tr {
      background-color: #90d23d; }
      main .description .schedule thead tr td {
        text-align: center;
        color: #fff;
        font: 30px roboto-black; }
    main .description .schedule tbody tr:nth-child(2n) {
      background-color: #373737; }
    main .description .schedule tbody tr:nth-child(2n-1) {
      background-color: #4b4d4f; }
    main .description .schedule tbody tr:hover {
      background-color: #90d23d; }
    main .description .schedule tbody tr td {
      color: #fff;
      font: 22px "roboto-regular"; }
      main .description .schedule tbody tr td button {
        color: #4a454b;
        width: 33px;
        height: 33px;
        font: 22px "roboto-regular";
        border-radius: 50%;
        border: solid 1px #bebebe;
        box-sizing: border-box;
        outline: none;
        border: none;
        outline: none;
        background-color: #fff;
        font: 22px roboto-black; }
        main .description .schedule tbody tr td button:hover {
          background-color: #4a454b; }
        main .description .schedule tbody tr td button:hover {
          color: #fff; }
    main .description .schedule caption {
      color: #242424;
      font: 14px roboto-light;
      caption-side: bottom;
      text-align: center;
      width: 830px;
      margin: 40px auto 80px; }
  main .elite-reward {
    background-color: #4b4d4f; }
    main .elite-reward .wrapper {
      position: relative;
      width: 700px;
      margin-right: 165px;
      text-align: right; }
      main .elite-reward .wrapper img {
        position: absolute;
        top: 0px;
        left: -355px; }
      main .elite-reward .wrapper h2 {
        padding: 175px 0 40px;
        color: #fff;
        font: 50px "roboto-black"; }
      main .elite-reward .wrapper p {
        margin-bottom: 14px;
        color: #fff;
        font: 14px "roboto-light"; }
        main .elite-reward .wrapper p:last-child {
          margin-bottom: 0; }
      main .elite-reward .wrapper button {
        margin: 40px auto 175px;
        color: #fff;
        width: 200px;
        height: 55px;
        font: 18px "roboto-regular";
        border-radius: 15px;
        border: solid 1px #bebebe;
        box-sizing: border-box;
        outline: none;
        border: none;
        outline: none;
        background-color: #90d23d; }
        main .elite-reward .wrapper button:hover {
          background-color: #4a454b; }
  main .speakers {
    padding: 50px 30px 0; }
    main .speakers-info h2 {
      margin-bottom: 25px;
      color: #242424;
      font: 50px "roboto-black"; }
    main .speakers-info p {
      width: 520px;
      margin-bottom: 60px;
      color: #242424;
      font: 14px roboto-light; }
    main .speakers-list .speaker {
      position: relative;
      width: 296px;
      height: 296px;
      background-color: #90d23d;
      float: left;
      margin: 0 40px 40px 0;
      padding: 30px 60px 0 30px;
      box-sizing: border-box;
      border-radius: 15px; }
      main .speakers-list .speaker:not(:nth-child(5))::after {
        display: block;
        content: "";
        position: absolute;
        top: 125px;
        left: 30px;
        width: 83px;
        height: 6px;
        background-color: #fff;
        float: left; }
      main .speakers-list .speaker:nth-of-type(3n) {
        margin-right: 0; }
      main .speakers-list .speaker:nth-child(2) {
        background-image: url("D:/Portfolio/Envato/img/bg.png"); }
      main .speakers-list .speaker:nth-child(5) {
        background: transparent url("D:/Portfolio/Envato/img/hand.png") 50% 50% no-repeat; }
      main .speakers-list .speaker-name {
        margin-bottom: 20px;
        color: #fff;
        font: 45px "roboto-black";
        line-height: 1; }
      main .speakers-list .speaker-description {
        color: #fff;
        font: 18px "roboto-medium"; }
      main .speakers-list .speaker-links {
        margin-top: 55px; }
        main .speakers-list .speaker-links a {
          margin-right: 8px; }
          main .speakers-list .speaker-links a:last-child {
            margin-right: 0; }
          main .speakers-list .speaker-links a::before {
            font-size: 35px;
            color: #fff; }
          main .speakers-list .speaker-links a:hover::before {
            color: #4a454b; }
  main .sponsors {
    background-color: #4b4d4f; }
    main .sponsors .wrapper {
      padding-top: 170px;
      text-align: center; }
      main .sponsors .wrapper h1 {
        margin-bottom: 30px;
        color: #fff;
        font: 50px roboto-black; }
      main .sponsors .wrapper p {
        color: #fff;
        font: 14px roboto-light; }
        main .sponsors .wrapper p:last-of-type {
          margin-bottom: 48px; }
      main .sponsors .wrapper .sponsors-links {
        margin-bottom: 40px; }
        main .sponsors .wrapper .sponsors-links img {
          margin-right: 85px; }
          main .sponsors .wrapper .sponsors-links img:last-child {
            margin-right: 0; }
      main .sponsors .wrapper button {
        margin-bottom: 120px;
        color: #fff;
        width: 200px;
        height: 55px;
        font: 22px roboto-regular;
        border-radius: 15px;
        border: solid 1px #bebebe;
        box-sizing: border-box;
        outline: none;
        border: none;
        outline: none;
        background-color: #90d23d; }
        main .sponsors .wrapper button:hover {
          background-color: #4a454b; }
  main .past-events {
    padding-top: 117px; }
    main .past-events-description {
      margin-left: 30px; }
      main .past-events-description h2 {
        margin-bottom: 5px;
        color: #242424;
        font: 50px roboto-black; }
      main .past-events-description p {
        color: #4a454b;
        font: 14px roboto-light;
        width: 600px;
        margin-bottom: 40px; }
    main .past-events-list {
      text-align: center; }
      main .past-events-list .event:first-child {
        width: 60%;
        height: 416px;
        background-color: #3d6ed2;
        float: left; }
      main .past-events-list .event:nth-child(2) {
        width: 40%;
        height: 416px;
        background-color: #90d23d;
        float: left; }
      main .past-events-list .event:nth-child(3) {
        width: 35%;
        height: 368px;
        background-color: #ff9d00;
        float: left; }
      main .past-events-list .event:nth-child(4) {
        width: 65%;
        height: 368px;
        background-color: #e0652a;
        float: left; }
      main .past-events-list button {
        margin: 98px 0 87px 0;
        color: #fff;
        width: 200px;
        height: 55px;
        font: 22px roboto-regular;
        border-radius: 15px;
        border: solid 1px #bebebe;
        box-sizing: border-box;
        outline: none;
        border: none;
        outline: none;
        background-color: #373737; }
        main .past-events-list button:hover {
          background-color: #90d23d; }

footer {
  background-color: #90d23d;
  text-align: center; }
  footer .feedback-section {
    position: relative;
    height: 670px; }
    footer .feedback-section .feedback {
      position: absolute;
      left: 200px;
      top: 70px;
      width: 970px;
      background-color: #fff; }
      footer .feedback-section .feedback-info {
        width: 470px;
        height: 530px;
        background-color: #fff;
        float: left;
        text-align: center;
        background: url("D:/Portfolio/Envato/img/adress.png") 50% 25% no-repeat; }
        footer .feedback-section .feedback-info .adress {
          width: 270px;
          margin: 285px auto 16px;
          color: #4a454b;
          font: 18px roboto-light; }
        footer .feedback-section .feedback-info #minimize {
          color: #fff;
          width: 200px;
          height: 55px;
          font: 22px roboto-regular;
          border-radius: 15px;
          border: solid 1px #bebebe;
          box-sizing: border-box;
          outline: none;
          border: none;
          outline: none;
          background-color: #90d23d; }
          footer .feedback-section .feedback-info #minimize:hover {
            background-color: #4a454b; }
      footer .feedback-section .feedback #feedback-form {
        width: 500px;
        height: 530px;
        background-color: #fff;
        float: left;
        padding-top: 59px;
        box-sizing: border-box;
        text-align: center; }
        footer .feedback-section .feedback #feedback-form input[type='email'], footer .feedback-section .feedback #feedback-form textarea {
          color: #4a454b;
          width: 400px;
          height: 55px;
          font: 19px roboto-light;
          border-radius: 5px;
          border: solid 1px #bebebe;
          box-sizing: border-box;
          outline: none;
          padding: 0 20px;
          margin: 0 auto 28px; }
        footer .feedback-section .feedback #feedback-form textarea {
          height: 255px;
          padding-top: 15px; }
        footer .feedback-section .feedback #feedback-form button {
          color: #fff;
          width: 400px;
          height: 60px;
          font: 22px roboto-regular;
          border-radius: 5px;
          border: solid 1px #bebebe;
          box-sizing: border-box;
          outline: none;
          border: none;
          outline: none;
          background-color: #373737; }
          footer .feedback-section .feedback #feedback-form button:hover {
            background-color: #90d23d; }
  footer .social {
    padding: 60px 0 15px 0; }
    footer .social .links {
      margin-bottom: 15px; }
      footer .social .links a {
        margin-right: 16px; }
        footer .social .links a:last-child {
          margin-right: 0; }
        footer .social .links a::before {
          color: #fff;
          font-size: 45px; }
        footer .social .links a:hover::before {
          color: #4a454b; }
    footer .social small {
      display: block;
      margin: 0 auto;
      color: #fff;
      font: 18px roboto-light; }
      footer .social small:last-child {
        padding-bottom: 42px; }

.err-msg {
  width: 200px;
  left: -220px;
  top: 0;
  position: absolute;
  background-color: white; }
  .err-msg label {
    padding: 5px;
    display: block;
    color: red;
    font: 20px Roboto-Light;
    text-align: left; }

textarea.error, input.error {
  background-color: #ff7d7d; }
