.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #4a454b; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px; }
  .header__nav {
    margin: 0 -15px; }

.navigation__menu {
  display: flex;
  font-size: 0;
  gap: 15px; }

.navigation__link {
  display: block;
  padding: 15px;
  color: #fff;
  font: 15px "roboto-thin"; }
  .navigation__link:active, .navigation__link:hover {
    color: #90d23d; }

main {
  padding-top: 130px; }
  main .countdown {
    position: relative;
    overflow: hidden;
    background-color: #4a454b; }
    main .countdown::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -330px;
      z-index: 10;
      width: 100%;
      height: 400px;
      transform: skewY(-5deg);
      background-color: white; }
    main .countdown__wrapper {
      position: relative;
      padding: 100px 0 400px;
      box-sizing: border-box; }
    main .countdown__timer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      padding: 25px 0;
      box-sizing: border-box;
      border: 2px solid #90d23d;
      background-color: #4a454b;
      border-radius: 20px; }
    main .countdown__digits {
      display: flex;
      gap: 70px;
      justify-content: space-between;
      padding-bottom: 10px;
      font-size: 0; }
    main .countdown__digit {
      color: #fff;
      font: 100px "roboto-slab-thin";
      text-align: center;
      vertical-align: middle; }
    main .countdown__caption {
      color: white;
      font: 25px "roboto-slab-regular";
      text-align: center; }
    main .countdown__item {
      display: flex;
      flex-direction: column;
      width: 120px;
      align-items: center; }
    main .countdown__elapsed {
      color: white;
      font: 75px "roboto-light";
      vertical-align: middle;
      display: inline-block; }
    main .countdown__icon {
      position: absolute;
      left: -82px;
      top: 520px; }
      main .countdown__icon:first-child {
        z-index: 6; }
  main .description {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 56px auto 142px;
    box-sizing: border-box; }
  main .description-text__title {
    margin-bottom: 25px;
    color: #242424;
    font: 50px "roboto-black"; }
  main .description-text__details {
    margin-bottom: 20px;
    color: #242424;
    font: 14px "roboto-light"; }
    main .description-text__details:last-child {
      margin-bottom: 0; }
  main #regBox {
    position: relative;
    z-index: 999;
    width: 430px;
    padding: 21px;
    margin-top: -300px;
    border: solid 1px #dbdada;
    text-align: center;
    background-color: #fff; }
    main #regBox h2 {
      margin: 34px 0 21px;
      color: #252525;
      font: 30px roboto-bold; }
    main #regBox input {
      color: #6c6c6c;
      width: 375px;
      height: 58px;
      font: 19px roboto-light;
      border-radius: 5px;
      border: solid 1px #bebebe;
      box-sizing: border-box;
      outline: none;
      margin-bottom: 20px;
      padding: 0 15px; }
      main #regBox input:last-child {
        margin-bottom: 40px; }
    main #regBox button {
      color: #fff;
      width: 371px;
      height: 58px;
      font: 22px roboto-bold;
      border-radius: 5px;
      border: solid 1px #bebebe;
      box-sizing: border-box;
      outline: none;
      border: none;
      outline: none;
      background-color: #90d23d;
      margin-bottom: 21px; }
      main #regBox button:hover {
        background-color: #4a454b; }
    main #regBox p {
      color: #6c6c6c;
      font: 15px roboto-light; }
    main #regBox .event-details {
      display: flex;
      justify-content: space-between;
      gap: 60px;
      margin-bottom: 94px; }
      main #regBox .event-details .event-detail {
        width: 300px; }
        main #regBox .event-details .event-detail figure {
          height: 220px;
          margin: 0 auto;
          text-align: center; }
        main #regBox .event-details .event-detail h3 {
          margin: 20px auto 10px;
          text-align: center;
          color: #242424;
          font: 35px roboto-black; }
        main #regBox .event-details .event-detail p {
          text-align: center;
          color: #242424;
          font: 14px roboto-light; }
    main #regBox .schedule {
      width: 100%;
      overflow: hidden; }
      main #regBox .schedule tr {
        height: 75px; }
        main #regBox .schedule tr td {
          vertical-align: middle;
          text-align: center; }
          main #regBox .schedule tr td:first-child {
            width: 200px; }
          main #regBox .schedule tr td:nth-child(2) {
            padding-left: 70px;
            box-sizing: border-box;
            text-align: left; }
          main #regBox .schedule tr td:last-child {
            width: 130px; }
      main #regBox .schedule thead tr {
        background-color: #90d23d; }
        main #regBox .schedule thead tr td {
          text-align: center;
          color: #fff;
          font: 30px roboto-black; }
      main #regBox .schedule tbody tr:nth-child(2n) {
        background-color: #373737; }
      main #regBox .schedule tbody tr:nth-child(2n-1) {
        background-color: #4b4d4f; }
      main #regBox .schedule tbody tr:hover {
        background-color: #90d23d; }
      main #regBox .schedule tbody tr td {
        color: #fff;
        font: 22px "roboto-regular"; }
        main #regBox .schedule tbody tr td button {
          color: #4a454b;
          width: 33px;
          height: 33px;
          font: 22px "roboto-regular";
          border-radius: 50%;
          border: solid 1px #bebebe;
          box-sizing: border-box;
          outline: none;
          border: none;
          outline: none;
          background-color: #fff;
          font: 22px roboto-black; }
          main #regBox .schedule tbody tr td button:hover {
            background-color: #4a454b; }
          main #regBox .schedule tbody tr td button:hover {
            color: #fff; }
      main #regBox .schedule caption {
        color: #242424;
        font: 14px roboto-light;
        caption-side: bottom;
        text-align: center;
        width: 830px;
        margin: 40px auto 80px; }
  main .elite-reward {
    position: relative;
    overflow: hidden;
    background-color: #4b4d4f; }
    main .elite-reward::before, main .elite-reward::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 400px;
      transform: skewY(-5deg);
      background-color: white; }
    main .elite-reward::after {
      bottom: -330px; }
    main .elite-reward::before {
      top: -330px; }
    main .elite-reward .wrapper {
      display: flex;
      gap: 40px;
      justify-content: space-between;
      text-align: right; }
      main .elite-reward .wrapper > div:last-child {
        width: 700px; }
      main .elite-reward .wrapper > div:first-child > img {
        position: relative;
        z-index: 999; }
      main .elite-reward .wrapper h2 {
        padding: 175px 0 40px;
        color: #fff;
        font: 50px "roboto-black"; }
      main .elite-reward .wrapper p {
        margin-bottom: 14px;
        color: #fff;
        font: 14px "roboto-light"; }
        main .elite-reward .wrapper p:last-child {
          margin-bottom: 0; }
      main .elite-reward .wrapper button {
        margin: 40px auto 175px;
        color: #fff;
        width: 200px;
        height: 55px;
        font: 18px "roboto-regular";
        border-radius: 15px;
        border: solid 1px #bebebe;
        box-sizing: border-box;
        outline: none;
        border: none;
        outline: none;
        background-color: #90d23d; }
        main .elite-reward .wrapper button:hover {
          background-color: #4a454b; }
  main .speakers {
    padding: 50px 30px 0; }
    main .speakers-info {
      margin-bottom: 60px; }
      main .speakers-info h2 {
        color: #242424;
        font: 50px "roboto-black";
        margin-bottom: 25px; }
      main .speakers-info p {
        width: 520px;
        color: #242424;
        font: 14px roboto-light; }
    main .speakers-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 40px; }
      main .speakers-list .speaker {
        position: relative;
        width: 296px;
        height: 296px;
        background-color: #90d23d;
        padding: 30px 60px 0 30px;
        box-sizing: border-box;
        border-radius: 15px; }
        main .speakers-list .speaker:not(:nth-child(5))::after {
          display: block;
          content: "";
          position: absolute;
          top: 125px;
          left: 30px;
          width: 83px;
          height: 6px;
          background-color: #fff;
          float: left; }
        main .speakers-list .speaker:nth-child(2) {
          background-image: url("../img/bg.png"); }
        main .speakers-list .speaker:nth-child(5) {
          background: transparent url("../img/hand.png") 50% 50% no-repeat; }
        main .speakers-list .speaker-name {
          margin-bottom: 20px;
          color: #fff;
          font: 45px "roboto-black";
          line-height: 1; }
        main .speakers-list .speaker-description {
          color: #fff;
          font: 18px "roboto-medium"; }
        main .speakers-list .speaker-links {
          display: flex;
          gap: 8px;
          margin-top: 55px; }
          main .speakers-list .speaker-links a::before {
            font-size: 35px;
            color: #fff; }
          main .speakers-list .speaker-links a:hover::before {
            color: #4a454b; }
  main .sponsors {
    position: relative;
    overflow: hidden;
    background-color: #4b4d4f; }
    main .sponsors::before, main .sponsors::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 400px;
      transform: skewY(-5deg);
      background-color: white; }
    main .sponsors::after {
      bottom: -330px; }
    main .sponsors::before {
      top: -330px; }
    main .sponsors .wrapper {
      padding-top: 170px;
      text-align: center; }
      main .sponsors .wrapper h2 {
        margin-bottom: 30px;
        color: #fff;
        font: 50px roboto-black; }
      main .sponsors .wrapper p {
        color: #fff;
        font: 14px roboto-light; }
        main .sponsors .wrapper p:last-of-type {
          margin-bottom: 48px; }
      main .sponsors .wrapper .sponsors-links {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 85px;
        margin-bottom: 40px; }
      main .sponsors .wrapper button {
        margin-bottom: 120px;
        color: #fff;
        width: 200px;
        height: 55px;
        font: 22px roboto-regular;
        border-radius: 15px;
        border: solid 1px #bebebe;
        box-sizing: border-box;
        outline: none;
        border: none;
        outline: none;
        background-color: #90d23d; }
        main .sponsors .wrapper button:hover {
          background-color: #4a454b; }
  main .past-events {
    padding: 117px 0 87px; }
    main .past-events-description {
      margin-bottom: 40px; }
      main .past-events-description h2 {
        margin-bottom: 25px;
        color: #242424;
        font: 50px roboto-black; }
      main .past-events-description p {
        color: #4a454b;
        font: 14px roboto-light;
        width: 600px; }
    main .past-events-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 98px; }
      main .past-events-list .event:first-child {
        width: 60%;
        height: 416px;
        background-color: #3d6ed2; }
      main .past-events-list .event:nth-child(2) {
        width: 40%;
        height: 416px;
        background-color: #90d23d; }
      main .past-events-list .event:nth-child(3) {
        width: 35%;
        height: 368px;
        background-color: #ff9d00; }
      main .past-events-list .event:nth-child(4) {
        width: 65%;
        height: 368px;
        background-color: #e0652a; }
    main .past-events button {
      margin: 0 auto;
      color: #fff;
      width: 200px;
      height: 55px;
      font: 22px roboto-regular;
      border-radius: 15px;
      border: solid 1px #bebebe;
      box-sizing: border-box;
      outline: none;
      border: none;
      outline: none;
      background-color: #373737; }
      main .past-events button:hover {
        background-color: #90d23d; }

footer {
  text-align: center;
  overflow: hidden;
  background-color: #90d23d; }
  footer .feedback-section {
    position: relative;
    height: 670px; }
    footer .feedback-section .feedback {
      position: absolute;
      left: 200px;
      top: 70px;
      display: flex;
      width: 970px;
      background-color: #fff; }
      footer .feedback-section .feedback-info {
        width: 470px;
        height: 530px;
        background-color: #fff;
        text-align: center;
        background: url("../img/adress.png") 50% 25% no-repeat; }
        footer .feedback-section .feedback-info .adress {
          width: 270px;
          margin: 285px auto 16px;
          color: #4a454b;
          font: 18px roboto-light; }
        footer .feedback-section .feedback-info #minimize {
          color: #fff;
          width: 200px;
          height: 55px;
          font: 22px roboto-regular;
          border-radius: 15px;
          border: solid 1px #bebebe;
          box-sizing: border-box;
          outline: none;
          border: none;
          outline: none;
          background-color: #90d23d; }
          footer .feedback-section .feedback-info #minimize:hover {
            background-color: #4a454b; }
      footer .feedback-section .feedback #feedback-form {
        width: 500px;
        height: 530px;
        background-color: #fff;
        padding-top: 59px;
        box-sizing: border-box;
        text-align: center; }
        footer .feedback-section .feedback #feedback-form input[type="email"], footer .feedback-section .feedback #feedback-form textarea {
          color: #4a454b;
          width: 400px;
          height: 55px;
          font: 19px roboto-light;
          border-radius: 5px;
          border: solid 1px #bebebe;
          box-sizing: border-box;
          outline: none;
          padding: 0 20px;
          margin: 0 auto 28px; }
        footer .feedback-section .feedback #feedback-form textarea {
          height: 255px;
          padding-top: 15px; }
        footer .feedback-section .feedback #feedback-form button {
          color: #fff;
          width: 400px;
          height: 60px;
          font: 22px roboto-regular;
          border-radius: 5px;
          border: solid 1px #bebebe;
          box-sizing: border-box;
          outline: none;
          border: none;
          outline: none;
          background-color: #373737; }
          footer .feedback-section .feedback #feedback-form button:hover {
            background-color: #90d23d; }
    footer .feedback-section #restore {
      display: none;
      position: absolute;
      top: -55px;
      left: 50%;
      margin-left: -100px;
      color: #fff;
      width: 200px;
      height: 55px;
      font: 22px roboto-regular;
      border-radius: 15px;
      border: solid 1px #bebebe;
      box-sizing: border-box;
      outline: none;
      border: none;
      outline: none;
      background-color: #90d23d; }
      footer .feedback-section #restore:hover {
        background-color: #4a454b; }
  footer .social {
    padding: 60px 0 15px 0; }
    footer .social .links {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin-bottom: 15px; }
      footer .social .links a::before {
        color: #fff;
        font-size: 45px; }
      footer .social .links a:hover::before {
        color: #4a454b; }
    footer .social small {
      display: block;
      margin: 0 auto;
      color: #fff;
      font: 18px roboto-light; }
      footer .social small:last-child {
        padding-bottom: 42px; }

.wrapper {
  margin: 0 auto;
  width: 1030px; }

.clearfix::after {
  display: table;
  content: "";
  clear: both; }

a {
  text-decoration: none; }

#scrollBtn {
  position: fixed;
  display: none;
  right: 165px;
  bottom: 100px;
  opacity: 0.4;
  cursor: pointer;
  font-size: 60px; }
  #scrollBtn:hover {
    opacity: 1; }
  #scrollBtn::before {
    font-size: 40px; }

.error {
  border: solid 1px red !important; }
  .error::placeholder {
    color: red; }
