.wrapper {
    margin: 0 auto;
    width: 1030px;
}

.clearfix {
	&::after {
		display: table;
		content: "";
		clear: both;
	}
}

#scrollBtn {
    position: fixed;
    display: none;
    right: 165px;
    bottom: 100px;
    opacity: 0.4;
    cursor: pointer;
    font-size: 60px;
    
    &:hover {
        opacity: 1;
    }
    
    i::before {
        font-size: 40px;
    }
}

a {
    text-decoration: none;
}