// COLORS
$gray: #4a454b;
$green: #90d23d;
$white: #fff;
$text: #242424;

@mixin text($color, $font) {
  font: $font;
  color: $color;
}

@mixin input(
  $color,
  $width,
  $height,
  $font,
  $border-radius,
  $border: solid 1px #bebebe
) {
  box-sizing: border-box;
  width: $width;
  height: $height;
  font: $font;
  color: $color;
  border: $border;
  border-radius: $border-radius;
  outline: none;
}

@mixin button($bg-color, $bg-hover) {
  background-color: $bg-color;
  border: none;
  outline: none;

  &:hover {
    background-color: $bg-hover;
  }
}

@mixin block($width, $height: auto, $bg-color: transparent, $float: left) {
  float: $float;
  width: $width;
  height: $height;
  background-color: $bg-color;
}

@mixin valign() {
  font-size: 0;

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
  }
}
