.err-msg {
    width: 200px;
    left: -220px;
    top: 0;
    position: absolute;
    background-color: white;
    
    label {
        padding: 5px;
        display: block;
        @include text(red, 20px Roboto-Light);
        text-align: left;
    }
}

textarea.error, input.error {
    background-color: red + 125;
}