@use "mixins.scss" as *;

* {
  box-sizing: border-box;
}

%button-reset {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: $gray;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1100px) {
      height: 80px;
    }

    @media (min-width: 1100px) {
      height: 130px;
    }
  }

  &__logo {
    @media (max-width: 1100px) {
      max-width: 100%;
      height: 40px;
    }
  }

  &__nav {
    margin: 0 -15px;

    @media (max-width: 1100px) {
      display: none;
    }
  }

  &__mobile-menu-btn {
    @media (min-width: 1100px) {
      display: none;
    }
  }
}

.burger {
  @extend %button-reset;

  padding: 15px;

  &__item {
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.mobile-menu {
  position: fixed;
  inset: 0;
  display: none;
  background-color: rgb(0 0 0 / 40%);

  &__close {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &__nav {
    position: relative;
    width: 300px;
    height: 100%;
    padding: 100px 40px 40px;
    margin-left: auto;
    background-color: $gray;
  }

  &__link {
    display: block;
    padding: 10px 0;
    font-family: roboto-bold, sans-serif;
    font-size: 36px;
    color: white;
    text-align: right;
  }
}

.navigation {
  &__menu {
    display: flex;
    gap: 15px;
    font-size: 0;
  }

  &__link {
    display: block;
    padding: 15px;

    @include text($white, 15px "roboto-thin");

    &:active,
    &:hover {
      color: $green;
    }
  }
}

main {
  flex-grow: 1;
}

.countdown {
  position: relative;
  overflow: hidden;
  background-color: $gray;

  @media (max-width: 1100px) {
    padding: 20px 0;
  }

  @media (min-width: 1100px) {
    &::after {
      position: absolute;
      bottom: -330px;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 400px;
      content: "";
      background-color: white;
      transform: skewY(-5deg);
    }
  }

  &__wrapper {
    @media (min-width: 1100px) {
      position: relative;
      padding: 100px 0 400px;
    }
  }

  &__timer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 50px;
    background-color: $gray;
    border: 2px solid $green;
    border-radius: 20px;

    @media (min-width: 600px) {
      min-height: 200px;
    }
  }

  &__digits {
    width: 100%;
    padding-bottom: 10px;
    font-size: 0;

    @media (min-width: 1100px) {
      gap: 70px;
    }

    @media (min-width: 600px) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 600px) and (max-width: 1100px) {
      gap: 25px;
    }
  }

  &__digit {
    text-align: center;
    vertical-align: middle;

    @media (max-width: 1100px) {
      @include text($white, 80px "roboto-slab-thin");
    }

    @media (min-width: 1100px) {
      @include text($white, 100px "roboto-slab-thin");
    }
  }

  &__caption {
    text-align: center;

    @include text(white, 25px "roboto-slab-regular");
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }

    @media (min-width: 600px) and (max-width: 1100px) {
      width: 90px;
    }

    @media (min-width: 1100px) {
      width: 120px;
    }
  }

  &__elapsed {
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    @media (max-width: 600px) {
      @include text(white, 40px "roboto-light");
    }

    @media (min-width: 600px) and (max-width: 1100px) {
      @include text(white, 60px "roboto-light");
    }

    @media (min-width: 1100px) {
      @include text(white, 75px "roboto-light");
    }
  }

  &__icon {
    position: absolute;
    top: 520px;
    left: -82px;

    @media (max-width: 1100px) {
      display: none;
    }

    &:first-child {
      z-index: 6;
    }
  }
}

.description {
  box-sizing: border-box;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin: 56px auto 142px;

  &__form {
    position: relative;
    z-index: 999;
    margin-top: -300px;
  }
}

.description-text {
  &__title {
    margin-bottom: 25px;

    @include text($text, 50px "roboto-black");
  }

  &__details {
    margin-bottom: 20px;

    @include text($text, 14px "roboto-light");

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.signup-form {
  // @include block(430px, auto, $white);
  width: 430px;
  padding: 21px;
  text-align: center;
  background-color: $white;
  border: solid 1px #dbdada;

  &__title {
    margin: 34px 0 21px;

    @include text(#252525, 30px roboto-bold);
  }

  &__field {
    @include input(#6c6c6c, 375px, 58px, 19px roboto-light, 5px);

    padding: 0 15px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__submit {
    @include button($green, $gray);
    @include input($white, 371px, 58px, 22px roboto-bold, 5px);

    margin-bottom: 21px;
  }

  &__text {
    @include text(#6c6c6c, 15px roboto-light);
  }
}

.event-details {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-bottom: 94px;

  &__item {
    width: 300px;
  }

  &__img-container {
    height: 220px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin: 20px auto 10px;
    text-align: center;

    @include text($text, 35px roboto-black);
  }

  &__text {
    text-align: center;

    @include text($text, 14px roboto-light);
  }
}

.schedule {
  width: 100%;
  overflow: hidden;

  &__row {
    height: 75px;

    &_heading {
      background-color: $green !important;
    }

    &:nth-child(2n) {
      background-color: #373737;
    }

    &:nth-child(2n-1) {
      background-color: #4b4d4f;
    }

    &:hover {
      background-color: $green;
    }
  }

  &__cell {
    @include text($white, 22px "roboto-regular");

    text-align: center;
    vertical-align: middle;

    &:first-child {
      width: 200px;
    }

    &:nth-child(2) {
      box-sizing: border-box;
      padding-left: 70px;
      text-align: left;
    }

    &:last-child {
      width: 130px;
    }

    &_heading {
      text-align: center;

      @include text($white, 30px roboto-black);
    }
  }

  &__btn {
    @include input($gray, 33px, 33px, 22px "roboto-regular", 50%);
    @include button($white, $gray);

    font: 22px roboto-black, sans-serif;

    &:hover {
      color: $white;
    }
  }

  &__note {
    @include text($text, 14px roboto-light);

    width: 830px;
    margin: 40px auto 80px;
    text-align: center;
    caption-side: bottom;
  }
}

.elite-reward {
  position: relative;
  overflow: hidden;
  background-color: #4b4d4f;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 400px;
    content: "";
    background-color: white;
    transform: skewY(-5deg);
  }

  &::after {
    bottom: -330px;
  }

  &::before {
    top: -330px;
  }

  &__wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    text-align: right;
  }

  &__content {
    width: 700px;
  }

  &__img {
    position: relative;
    z-index: 999;
  }

  &__title {
    padding: 175px 0 40px;

    @include text($white, 50px "roboto-black");
  }

  &__text {
    margin-bottom: 14px;

    @include text($white, 14px "roboto-light");

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin: 40px auto 175px;

    @include input($white, 200px, 55px, 18px "roboto-regular", 15px);
    @include button($green, $gray);
  }
}

.speakers {
  padding: 50px 30px 0;

  &__info {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
  }
}

.speakers-info {
  &__title {
    @include text($text, 50px "roboto-black");

    margin-bottom: 25px;
  }

  &__text {
    width: 520px;

    @include text($text, 14px roboto-light);
  }
}

.speaker {
  position: relative;
  box-sizing: border-box;
  width: 296px;
  height: 296px;
  padding: 30px 60px 0 30px;
  background-color: $green;
  border-radius: 15px;

  &:not(:nth-child(5))::after {
    position: absolute;
    top: 125px;
    left: 30px;
    display: block;
    content: "";

    @include block(83px, 6px, $white);
  }

  &:nth-child(2) {
    background-image: url("../img/bg.png");
  }

  &:nth-child(5) {
    background: transparent url("../img/hand.png") 50% 50% no-repeat;
  }

  &__name {
    margin-bottom: 20px;

    @include text($white, 45px "roboto-black");

    line-height: 1;
  }

  &__description {
    @include text($white, 18px "roboto-medium");
  }

  &__links {
    display: flex;
    gap: 8px;
    margin-top: 55px;
  }

  &__link {
    &::before {
      font-size: 35px;
      color: $white;
    }

    &:hover::before {
      color: $gray;
    }
  }
}

.sponsors {
  position: relative;
  overflow: hidden;
  background-color: #4b4d4f;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 400px;
    content: "";
    background-color: white;
    transform: skewY(-5deg);
  }

  &::after {
    bottom: -330px;
  }

  &::before {
    top: -330px;
  }

  &__wrapper {
    padding-top: 170px;
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;

    @include text($white, 50px roboto-black);
  }

  &__text {
    @include text($white, 14px roboto-light);

    &:last-of-type {
      margin-bottom: 48px;
    }
  }

  &__links {
    display: flex;
    gap: 85px;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__btn {
    margin-bottom: 120px;

    @include button($green, $gray);
    @include input($white, 200px, 55px, 22px roboto-regular, 15px);
  }
}

.past-events {
  padding: 117px 0 87px;

  &__description {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 25px;

    @include text($text, 50px roboto-black);
  }

  &__text {
    @include text($gray, 14px roboto-light);

    width: 600px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 98px;
  }

  &__event:first-child {
    width: 60%;
    height: 416px;
    background-color: #3d6ed2;
  }

  &__event:nth-child(2) {
    width: 40%;
    height: 416px;
    background-color: $green;
  }

  &__event:nth-child(3) {
    width: 35%;
    height: 368px;
    background-color: #ff9d00;
  }

  &__event:nth-child(4) {
    width: 65%;
    height: 368px;
    background-color: #e0652a;
  }

  &__btn {
    margin: 0 auto;

    @include button(#373737, $green);
    @include input($white, 200px, 55px, 22px roboto-regular, 15px);
  }
}

.contacts {
  position: relative;
  display: none;
  height: 670px;

  &__content {
    position: absolute;
    top: 70px;
    left: 200px;
    display: flex;
    width: 970px;
    background-color: $white;
  }

  &__address-info {
    width: 470px;
    height: 530px;
    text-align: center;
    background: url("../img/address.png") 50% 25% no-repeat;
    background-color: $white;
  }

  &__address {
    width: 270px;
    margin: 285px auto 16px;

    @include text($gray, 18px roboto-light);
  }

  &__minimize {
    @include input($white, 200px, 55px, 22px roboto-regular, 15px);
    @include button($green, $gray);
  }

  &__restore {
    position: absolute;
    top: -55px;
    left: 50%;
    display: none;
    margin-left: -100px;

    @include input($white, 200px, 55px, 22px roboto-regular, 15px);
    @include button($green, $gray);
  }
}

.feedback-form {
  box-sizing: border-box;
  width: 500px;
  height: 530px;
  padding-top: 59px;
  text-align: center;
  background-color: $white;

  &__input {
    @include input($gray, 400px, 55px, 19px roboto-light, 5px);

    padding: 0 20px;
    margin: 0 auto 28px;

    &_textarea {
      height: 255px;
      padding-top: 15px;
    }
  }

  &__submit {
    @include input($white, 400px, 60px, 22px roboto-regular, 5px);
    @include button(#373737, $green);
  }
}

.footer {
  padding: 60px 0 15px;
  overflow: hidden;
  text-align: center;
  background-color: $green;

  &__links {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__link {
    &::before {
      font-size: 45px;
      color: $white;
    }

    &:hover::before {
      color: $gray;
    }
  }

  &__text {
    display: block;
    margin: 0 auto;

    @include text($white, 18px roboto-light);

    &:last-child {
      padding-bottom: 42px;
    }
  }
}

.wrapper {
  @media (min-width: 1100px) {
    max-width: 1030px;
    margin: 0 auto;
  }

  @media (max-width: 600px) {
    max-width: 100%;
    margin: 0 15px;
  }

  @media (min-width: 600px) and (max-width: 1100px) {
    max-width: 100%;
    margin: 0 30px;
  }
}

.clearfix {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

a {
  text-decoration: none;
}

// TODO: Customize stylelint
// {
//   "rules": {
//     "selector-id-pattern": "^[a-z][a-zA-Z0-9]+$|^[a-z]+(-[a-z]+)*$"
//   }
// }
// scrollBtn (camelCase)
// scroll-btn (kebab-case)

// TODO: Add camelCase, and uncomment #scrollBtn

// #scrollBtn {
//   position: fixed;
//   right: 165px;
//   bottom: 100px;
//   display: none;
//   font-size: 60px;
//   cursor: pointer;
//   opacity: 0.4;

//   &:hover {
//     opacity: 1;
//   }

//   &::before {
//     font-size: 40px;
//   }
// }

// .error {
//   border: solid 1px red !important;

//   &::placeholder {
//     color: red;
//   }
// }
