@import "_mixins.scss";
@import "_general.scss";
@import "forms.scss";

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 130px;
    background-color: $gray;

    .logo {
        float: left; 
        margin-top: 45px;
    }

    #main-menu {
        float: right;
        margin-top: 70px;

        ul {
            font-size: 0;

            li {
                display: inline-block;
                margin-right: 45px;
                
                &:last-child {
                    margin-right: 0;
                }

                a {
                    display: block;
                    @include text($white, 15px 'roboto-thin');
                
                    &:active, &:hover {
                        color: $green;
                    }
                }
            }  
        }
    }
}

main {
	padding-top: 130px;

    .time-box {
        position: relative;
        background-color: $gray;

        &::after {
            position: absolute;

        }
        
        .wrapper {
            position: relative;
            padding: 100px 0 400px;
            box-sizing: border-box;
                
            #countdown {
                @include block(970px, 200px, $gray, none);
                margin: 0 auto;
                padding: 25px 0;
                box-sizing: border-box;
                border: 2px solid $green;
                border-radius: 20px;
                
                .digits {
                    padding-bottom: 10px;
                    font-size: 0;

                    #days,
                    #hours,
                    #min,
                    #sec {
                        display: inline-block;
                        width: 25%;
                        height: 110px;
                        @include text($white, 110px 'roboto-slab-thin');
                        text-align: center;
                        vertical-align: middle;   
                    }
                }
            }
            
            .captions div {
                float: left;
                width: 25%;
                @include text(white, 25px 'roboto-slab-regular');
                text-align: center;
            }

            .elapsed {
            	@include text(white, 75px 'roboto-light');
            	vertical-align: middle;
            	display: inline-block;
            }
            
            .icon {
                position: absolute;
                left: -82px;
                top: 376px;

                &:first-child{
                    z-index: 6;
                }
            }   
        }       
    }

    .description {
        &-short {
            position: relative;
            margin: 56px auto 142px;
            padding-right: 500px;
            box-sizing: border-box;
                
            h1 {
                margin-bottom: 25px;
                @include text($text, 50px 'roboto-black');
            }
                
            &>p {
                margin-bottom: 20px;
                @include text($text, 14px 'roboto-light');

                &:last-child {
                    margin-bottom: 140px;
                }
            }
            
            #regBox {
                position: absolute;
                top: -228px;
                right: 0;
                z-index: 10;
                @include block(430px, auto, $white);
                padding-bottom: 21px;
                border: solid 1px #dbdada;
                text-align: center;
                

                &::after {
                    display: block;
                    position: absolute; 
                    bottom: 0;
                    content: "";
                    @include block(100%, 3px, #949293);
                }

                h2 {                    
                    margin: 34px 0 21px;
                    @include text(#252525, 30px roboto-bold);
                }

                input {                   
                    @include input(#6c6c6c, 375px, 58px, 19px roboto-light, 5px);
                    margin-bottom: 20px;
                    padding: 0 15px;
               
                    &:last-child {
                        margin-bottom: 40px;
                    }
                }

                button {
                    @include input($white, 371px, 58px, 22px roboto-bold, 5px);
                    @include button($green, $gray);
                    margin-bottom: 21px;
                }

                p {
                    @include text(#6c6c6c, 15px roboto-light);
                }
            }
        }
        
        .event-details {
            margin-bottom: 94px;
            
            .event-detail {
                @include block(300px);
                margin-right: 60px;

                &:last-child {
                    margin-right: 0;
                } 

                figure {
                    height: 220px;
                    margin: 0 auto;
                    overflow: hidden;
                    text-align: center;
                }

                h3 {
                    margin: 20px auto 10px;
                    text-align: center;
                    @include text($text, 35px roboto-black);
                }

                p {
                    text-align: center;
                    @include text($text, 14px roboto-light);
                }
            }
        }
    
        .schedule {
            width: 100%;
            overflow: hidden;
            
            tr {
                height: 75px;

                td {
                    vertical-align: middle;
                    text-align: center;

                    &:first-child {
                        width: 200px;
                    }

                    &:nth-child(2) {                    
                        padding-left: 70px;
                        box-sizing: border-box;
                        text-align: left;
                    }

                    &:last-child {
                        width: 130px;
                    }
                }  
            }
            

            thead tr {
                background-color: $green;

                td {
                    text-align: center;
                    @include text($white, 30px roboto-black);
                }
            }

            tbody tr {
                &:nth-child(2n) {
                    background-color: #373737;
                }

                &:nth-child(2n-1) {
                    background-color: #4b4d4f;
                }
                           

                &:hover {
                    background-color: $green; 
                }

                td {
                    @include text($white, 22px 'roboto-regular');
                    
                    

                    button {
                        @include input($gray, 33px, 33px, 22px 'roboto-regular', 50%);
                        @include button($white, $gray);
                        font: 22px roboto-black;

                        &:hover {
                            color: $white;
                        }
                    }
                }
            }

            caption {
                @include text($text, 14px roboto-light);
                caption-side: bottom;
                text-align: center;
                width: 830px;
                margin: 40px auto 80px;
                 
            }
        }
    }

    .elite-reward {
        background-color: #4b4d4f;

        .wrapper {                
            position: relative;
            width: 700px;
            margin-right: 165px;
            text-align: right;
                
            img {
                position: absolute;
                top: 0px;
                left: -355px;
            }
               

            h2 {
                padding: 175px 0 40px;
                @include text($white, 50px 'roboto-black');
            }

            p {                    
                margin-bottom: 14px;
                @include text($white, 14px 'roboto-light');
                    
                &:last-child {
                    margin-bottom: 0;
                }  
            }

            button {                    
                margin: 40px auto 175px;
                @include input($white, 200px, 55px, 18px 'roboto-regular', 15px);
                @include button($green, $gray);
            }
        }
    }

    .speakers {
        padding: 50px 30px 0;

        &-info {
            h2 {
                margin-bottom: 25px;
                @include text($text, 50px 'roboto-black');
            }

            p {
                width: 520px;
                margin-bottom: 60px;
                @include text($text, 14px roboto-light);
            }
        }

        &-list {
            .speaker {
                position: relative;
                @include block(296px, 296px, $green);
                margin: 0 40px 40px 0;
                padding: 30px 60px 0 30px;
                box-sizing: border-box;
                border-radius: 15px;
                
                &:not(:nth-child(5))::after {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 125px;
                    left: 30px;
                    @include block(83px, 6px, $white);
                }

                &:nth-of-type(3n) {
                    margin-right: 0;
                }

                &:nth-child(2) {
                    background-image: url('D:/Portfolio/Envato/img/bg.png'); 
                }

                &:nth-child(5) {
                    background: transparent url('D:/Portfolio/Envato/img/hand.png') 50% 50% no-repeat;
                }
                
                &-name {
                    margin-bottom: 20px;
                    @include text($white, 45px 'roboto-black');
                    line-height: 1;
                }

                &-description {
                    @include text($white, 18px 'roboto-medium');
                }

                &-links {
                    margin-top: 55px;
                    
                    a {
                        margin-right: 8px;
                        
                        &:last-child {
                            margin-right: 0;
                        }

                        &::before {
                            font-size: 35px;
                            color: $white;
                        } 
                        
                        &:hover::before {
                            color: $gray;
                        }  
                    }
                }
            }
        }
    }

    .sponsors {
        background-color: #4b4d4f;

        .wrapper {            
            padding-top: 170px;
            text-align: center;

            h1 {
                margin-bottom: 30px;
                @include text($white, 50px roboto-black);
            }

            p {
                @include text($white, 14px roboto-light);
                
                &:last-of-type {
                    margin-bottom: 48px;
                }
            }

            .sponsors-links {
                margin-bottom: 40px;
                
                img {
                    margin-right: 85px;
                    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            button {
                margin-bottom: 120px;
                @include input($white, 200px, 55px, 22px roboto-regular, 15px);
                @include button($green, $gray);
            }
        }
    }

    .past-events {
        padding-top: 117px;

        &-description {
            margin-left: 30px;

            h2 {
                margin-bottom: 5px;
                @include text($text, 50px roboto-black);
            }

            p {
                @include text($gray, 14px roboto-light);
                width: 600px;
                margin-bottom: 40px;
            }
        }

        &-list {
            text-align: center;

            .event:first-child {
                @include block(60%, 416px, #3d6ed2);
            }

            .event:nth-child(2) {
                @include block(40%, 416px, $green);
            }

            .event:nth-child(3) {
                @include block(35%, 368px, #ff9d00);
            }

            .event:nth-child(4) {
                @include block(65%, 368px, #e0652a);
            }

            button {
                margin: 98px 0 87px 0;
                @include input($white, 200px, 55px, 22px roboto-regular, 15px);
                @include button(#373737, $green);
            }
        }    
    }
}

footer {
    background-color: $green;
    text-align: center;
    
    .feedback-section {
        position: relative;
        height: 670px;
        
        .feedback {
            position: absolute;
            left: 200px;
            top: 70px;
            width: 970px;
            background-color: $white;
        
            &-info {
                @include block(470px, 530px, $white);
                text-align: center;
                background: url('D:/Portfolio/Envato/img/adress.png') 50% 25% no-repeat;
                    
                .adress {
                    width: 270px;
                    margin: 285px auto 16px;
                    @include text($gray, 18px roboto-light);
                }

                #minimize {
                    @include input($white, 200px, 55px, 22px roboto-regular, 15px);
                    @include button($green, $gray);
                }
            }

            #feedback-form {
                @include block(500px, 530px, $white);
                padding-top: 59px;
                box-sizing: border-box;
                text-align: center;
                    
                input[type='email'] {
                    @include input($gray, 400px, 55px, 19px roboto-light, 5px);
                    padding: 0 20px;
                    margin: 0 auto 28px;
                }

                textarea {
                    @extend input[type='email'];
                    height: 255px;
                    padding-top: 15px;
                }

                button {
                    @include input($white, 400px, 60px, 22px roboto-regular, 5px);
                    @include button(#373737, $green);
                }
            }
        }
    }

    .social {
        padding: 60px 0 15px 0;
        
        .links {
            margin-bottom: 15px;
            
            a {
                margin-right: 16px;
                 
                &:last-child {
                    margin-right: 0;
                }  

                &::before {
                    color: $white;
                    font-size: 45px;
                } 
                            
                &:hover::before {
                    color: $gray;   
                }
            }
        } 

        small { 
            display: block;
            margin: 0 auto;
            @include text($white, 18px roboto-light);
            
            &:last-child {
               padding-bottom: 42px; 
            }
        }  
    }
}

@import "forms.scss";