@font-face {
    font-family: 'roboto-thin';
    src: url("RobotoThin.ttf");
}

@font-face {
    font-family: 'roboto-slab-thin';
    src: url("RobotoSlab-Thin.ttf");
}

@font-face {
    font-family: 'roboto-black';
    src: url('Roboto-Black.ttf')
}

@font-face {
    font-family: 'roboto-light';
    src: url('Roboto-Light.ttf');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('Roboto-Bold.ttf');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('Roboto-Regular.ttf')
}

@font-face {
    font-family: 'roboto-medium';
    src: url('Roboto-Medium.ttf');
}

@font-face {
    font-family: 'roboto-slab-regular';
    src: url('RobotoSlab-Regular.ttf');
}